gradio
python-dotenv==1.0.1
fastrtc==0.0.33
fastrtc-whisper-cpp==0.1.2
numpy
openai==1.40.2
fish-speech @ git+https://github.com/fishaudio/fish-speech.git
huggingface_hub==0.26.5
resampy==0.4.3
fastapi==0.115.6
uvicorn[standard]==0.31.1
